<% content_for :page_class do %>contacts<% end %>
<div class="aside span-6" role="complementary">
  <%= render '/layouts/follow_us' %>
</div>
<div class="main span-18 last" role="main">
  <div class="area highlight">
    <%= render :partial => '/shared/stripes', :locals => { :label => 'Contatti' } %>
  </div>
  <h2>Creazione articolo</h2>
  <div class="contact span-6">
    <h3>Direzione artistica</h3>
    <div class="vcard">
        <span class="fn n">
            <span class="given-name">Erik</span>
            <span class="family-name">Calvo</span>
        </span>
        <div class="org">Miscela</div>
        <div>
            E-mail:
            <span class="email">erik(at)associazionemiscela.it</span>
        </div>
        
    </div>
  </div>
  <div class="contact span-6">
    <h3>Direzione commerciale</h3>
    <div class="vcard">
        <span class="fn n">
            <span class="given-name">Diego</span>
            <span class="family-name">Manconi</span>
        </span>
        <div class="org">Miscela</div>
        <div>
            E-mail: <span class="email">diego(at)associazionemiscela.it</span>
        </div>
<!--	            <ul class="tel">
            <li class="tel">
                <span class="type">Cellulare</span>
                <a href="tel:+39555" class="value">+39555...</a>
            </li>
            <li class="tel">
                <span class="type">Skype</span>
                <a href="skype:+39555" class="value">+39555...</a>
            </li>
        </ul>
-->	        </div>
  </div>
  <div class="contact span-6 last">
    <h3>Ufficio stampa e segreteria</h3>
    <div class="vcard">
        <span class="fn n">
            <span class="given-name">Cristina</span>
            <span class="family-name">Pieretti</span>
        </span>
        <div class="org">Miscela</div>
        <div>
            E-mail: <span class="email">cri(at)associazionemiscela.it</span>
        </div>
<!--		        <ul>
            <li class="tel">
                <span class="type">Cellulare</span>
                <a href="tel:+39555" class="value">+39555...</a>
            </li>
            <li class="tel">
                <span class="type">Skype</span>
                <a href="skype:+39555" class="value">+39555...</a>
            </li>
        </ul>
-->	        </div>
  </div>
  <div class="contact span-6">
    <h3>Miscela Junior e Direzione di Palco</h3>
    <div class="vcard">
        <span class="fn n">
            <span class="given-name">Santiago</span>
            <span class="family-name"></span>
        </span>
        <div class="org">Miscela</div>
        <div>
            E-mail: <span class="email">junior(at)associazionemiscela.it</span>
        </div>
<!--	            <ul class="tel">
            <li class="tel">
                <span class="type">Cellulare</span>
                <a href="tel:+39555" class="value">+39555...</a>
            </li>
            <li class="tel">
                <span class="type">Skype</span>
                <a href="skype:+39555" class="value">+39555...</a>
            </li>
        </ul>
-->	        </div>
  </div>
  <div class="contact span-6 last">
    <h3>Webmaster</h3>
    <div class="vcard">
        <span class="fn n">
            <span class="given-name">Federico</span>
            <span class="family-name">Perotto</span>
        </span>
        <div class="org">Miscela</div>
        <div>
            E-mail: <span class="email">federico.perotto(at)tiscali.it</span>
        </div>
    </div>
  </div>
  <div class="contact span-6 last">
    <h3>Marketing e Ecologia</h3>
    <div class="vcard">
        <span class="fn n">
            <span class="given-name">Ombretta</span>
            <span class="family-name">Miraglio</span>
        </span>
        <div class="org">Miscela</div>
        <div>
            E-mail: <span class="email">mkt(at)associazionemiscela.it</span>
        </div>
    </div>
  </div>
</div>