<% content_for :page_class do %>partners<% end %>
<div class="aside span-6" role="complementary">
  <%= render '/layouts/follow_us' %>
</div>
<div class="main span-18 last" role="main">
  <div class="area highlight">
    <%= render :partial => '/shared/stripes', :locals => { :label => 'Partner' } %>
  </div>
		<div class="span-18 last">
    		<h3>Sponsor</h3>
		</div>
		<div class="vcard span-3"><a href="http://www.tiesse.com/" target="_blank" rel="nofollow" class="url">
			<img alt="Tiesse" title="Tiesse" src="img/partner/tiesse.jpg" />
		</a></div>
		<div class="vcard span-3"><a href="http://www.studiosit.com/" target="_blank" rel="nofollow" class="url">
			<img alt="Sit" title="Sit" src="img/partner/sit.jpg" />
		</a></div>
		<div class="vcard span-3"><a href="http://www.hcrystalpalace.com/" target="_blank" rel="nofollow" class="url">
			<img alt="Hotel Crystal Palace" title="Crystal Palace" src="img/partner/palace.jpg" />
		</a></div>
		<div class="vcard span-3"><a href="http://www.ivrealavilla.com/" target="_blank" rel="nofollow" class="url">
			<img alt="Hotel La Villa" title="La Villa" src="img/partner/villa.jpg" />
		</a></div>
		<div class="vcard span-3"><a href="" target="_blank" rel="nofollow" class="url">
			<img alt="Building" title="building" src="img/partner/building.jpg" WIDTH="100" HEIGHT="60"/>
		</a></div>
		<div class="vcard span-3"><br><a href="" target="_blank" rel="nofollow" class="url">
			<img alt="levabolli" title="levabolli" src="img/partner/levabolli.jpg" WIDTH="110" HEIGHT="60"/>
		</a></div>
		<div class="vcard span-3"><br><a href="" target="_blank" rel="nofollow" class="url">
			<img alt="darna ristorante" title="darna rist" src="img/partner/darna.jpg" WIDTH="110" HEIGHT="60"/>
		</a></div>
		<div class="vcard span-3"><br><a href="" target="_blank" rel="nofollow" class="url">
			<img alt="peretto" title="peretto" src="img/partner/peretto.jpg" WIDTH="80" HEIGHT="80"/>
		</a></div>
		<div class="vcard span-3"><br><a href="" target="_blank" rel="nofollow" class="url">
			<img alt="vanore" title="vanore" src="img/partner/vanore.jpg" WIDTH="130" HEIGHT="70"/>
		</a></div>
		<div class="vcard span-3"><br><a href="" target="_blank" rel="nofollow" class="url">
			<img alt="anstel" title="anstel" src="img/partner/anstel.jpg" WIDTH="80" HEIGHT="80"/>
		</a></div>
		<div class="vcard span-3"><a href="" target="_blank" rel="nofollow" class="url">
			<img alt="one" title="one" src="img/partner/one.jpg" WIDTH="110" HEIGHT="60"/>
		</a></div>
		<div class="vcard span-3"><a href="" target="_blank" rel="nofollow" class="url">
			<img alt="motorini elettrici" title="motorini elettrici" src="img/partner/motorini.png" WIDTH="150" HEIGHT="80"/>
		</a></div>
		<div class="vcard span-3"><a href="" target="_blank" rel="nofollow" class="url">
			<img alt="aidols" title="aidols" src="img/partner/aidols.png" WIDTH="130" HEIGHT="70"/>
		</a></div>
		<div class="span-18 last">
    		<h3>Istituzioni</h3>
		</div>
		<div class="vcard span-3"><a href="http://www.comune.strambino.to.it/" target="_blank" rel="nofollow" class="url">
			<img alt="Comune di Strambino" title="Comune di Strambino" src="img/partner/strambino.jpg" WIDTH="70" HEIGHT="100" />
		</a></div>
		<div class="vcard span-3"><a href=" http://www.comune.strambino.to.it/i-servizi/l-amministrazione-informa-1/programmi-e-iniziative/consulta-giovanile" target="_blank" rel="nofollow" class="url">
			<img alt="Consulta Giovanile" title="Consulta Giovanile" src="img/partner/consulta.jpg" WIDTH="100" HEIGHT="80"/>
		</a></div>
		<div class="vcard span-3"><a href=" http://www.anfiteatromorenico.it/" target="_blank" rel="nofollow" class="url">
			<img alt="Comunita' Collinare" title="Comunita' Collinare" src="img/partner/collinare.jpg" WIDTH="120" HEIGHT="60"/>
		</a></div>
		<div class="span-18 last">		
		    <h3>Media Partner</h3>
        </div>
		<div class="vcard span-3"><a href="http://www.toastit.com/" target="_blank" rel="nofollow" class="url">
			<img alt="Toast Records" title="Toast Records" src="img/partner/toast.jpg" WIDTH="100" HEIGHT="40"/>
		</a></div>
		<div class="vcard span-3"><a href="http://www.myspace.com/audiocoopiemonte" target="_blank" rel="nofollow" class="url">
			<img alt="Audiocoop" title="Audiocoop Piemonte" src="img/partner/Audiocoop.jpg" WIDTH="100" HEIGHT="40"/>
		</a></div>
		<div class="vcard span-3 last"><a href="http://www.lifegate.it/it/home" target="_blank" rel="nofollow" class="url">
			<img alt="Lifegate" title="Lifegate" src="img/partner/lifegate.jpg" WIDTH="100" HEIGHT="40"/>
		</a></div>
		<div class="vcard span-3 last"><a href="http://www.lifegate.it/it/eco/profit/impatto_zero/progetto" target="_blank" rel="nofollow" class="url">
			<img alt="Impatto Zero" title="Impatto Zero" src="img/partner/zero.jpg" WIDTH="80" HEIGHT="80"/>
		</a></div>
		<div class="vcard span-3"><a href="http://www.opera-music.it/" target="_blank" rel="nofollow" class="url">
			<img alt="Opera music" title="Opera music" src="img/partner/operamusic.jpg" WIDTH="80" HEIGHT="80"/>
		</a></div>
		<div class="vcard span-3"><a href="http://www.masterblack.it/" target="_blank" rel="nofollow" class="url">
			<img alt="Masterblack" title="Masterblack" src="img/partner/masterblack.jpg" WIDTH="100" HEIGHT="60"/>
		</a></div>
		<div class="span-18 last">
    		<h3>Collaborazioni & Servizi</h3>
		</div>
		<div class="vcard span-3"><a href="http://www.sunergsolar.com/it/index.php" target="_blank" rel="nofollow" class="url">
			<img alt="Sunerg Solar" title="Sunerg Solar" src="img/partner/sunerg.jpg" WIDTH="100" HEIGHT="40" />
		</a></div>
		<div class="vcard span-3"><a href="" target="_blank" rel="nofollow" class="url">
			<img alt="servedio" title="servedio" src="img/partner/servedio.png" WIDTH="100" HEIGHT="40" />
		</a></div>
				<div class="vcard span-3 last"><a href="http://www.scuolinaddis.org/" target="_blank" rel="nofollow" class="url">
			<img alt="Scuolina di Addis Abeba YEKA" title="Scuolina di Addis Abeba YEKA" src="img/partner/yeka.jpg"  WIDTH="80" HEIGHT="80"/>
		</a></div>
		<div class="vcard span-3 last"><a href="http://www.3bite.it/3bite/" target="_blank" rel="nofollow" class="url">
			<img alt="3Bite" title="3 Bite Comunicazioni Eventi" src="img/partner/3bite.jpg"  WIDTH="80" HEIGHT="80"/>
		</a></div>
		<div class="vcard span-3"><a href="http://www.ugi-torino.it/" target="_blank" rel="nofollow" class="url">
			<img alt="U.G.I." title="U.G.I." src="img/partner/ugi.jpg"  WIDTH="80" HEIGHT="80" />
		</a></div>
		<div class="vcard span-3"><br><a href="http://www.gruppogcomunicazione.com/" target="_blank" rel="nofollow" class="url">
			<img alt="gruppoG" title="gruppoG" src="img/partner/gruppoG.jpg" WIDTH="80" HEIGHT="80"/>
		</a></div>
		<div class="vcard span-3"><br><a href="http://www.insiemepermatilde.it/" target="_blank" rel="nofollow" class="url">
			<img alt="Matilde" title="Matilde" src="img/partner/matilde.png"  WIDTH="120" HEIGHT="40" />
		</a></div>
		<div class="vcard span-3 last"><a href="https://www.facebook.com/AssociazioneAlbertoVidano?fref=ts" target="_blank" rel="nofollow" class="url">
			<img alt="Associazione Vidano" title="Associazione Vidano" src="img/partner/vidano.jpg" WIDTH="120" HEIGHT="40"/>
		</a></div>
		<div class="vcard span-3"><br><a href="http://http://www.cittadelladeigiovani.ao.it//" target="_blank" rel="nofollow" class="url">
			<img alt="Cittadella dei Giovani AO" title="Cittadella dei Giovani AO" src="img/partner/cittadella.jpg"  WIDTH="80" HEIGHT="80" />
		</a></div>
		<div class="vcard span-3"><br><a href="http://www.mercenari.it/" target="_blank" rel="nofollow" class="url">
			<img alt="Aranceri Mercenari" title="Aranceri Mercenari" src="img/partner/mercenari.jpg" WIDTH="60" HEIGHT="60"/>
		</a></div>
		<div class="vcard span-3"><br><a href="http://www.opendartpiemonte.it/" target="_blank" rel="nofollow" class="url">
			<img alt="Open Dart Piemonte" title="Open Dart Piemonte" src="img/partner/dart.jpg" WIDTH="80" HEIGHT="80"/>
		</a></div>
		<div class="vcard span-3"><br><a href="" target="_blank" rel="nofollow" class="url">
			<img alt="TLS" title="TLS" src="img/partner/tls.jpg" WIDTH="100" HEIGHT="40" />
		</a></div>
		<div class="span-18 last">
    		<h3>Festival Amici</h3>
		</div>
		<div class="vcard span-3"><a href="http://www.resetfestival.it/" target="_blank" rel="nofollow" class="url">
			<img alt="Reset Festival" title="Reset Festival" src="img/partner/reset.jpg" WIDTH="100" HEIGHT="40"/>
		</a></div>
		<div class="vcard span-3"><a href="http://www.aostasoundfest.com/" target="_blank" rel="nofollow" class="url">
			<img alt="Aosta Sound Fest" title="Aosta Sound Fest" src="img/partner/aostasound.png" WIDTH="100" HEIGHT="40"/>
		</a></div>
		<div class="vcard span-3"><a href="" target="_blank" rel="nofollow" class="url">
			<img alt="Carovana dei festival" title="Carovana dei festival" src="img/partner/carovana.jpg" WIDTH="100" HEIGHT="40"/>
		</a></div>		
		<div class="span-18 last">
    		<h3></h3>
		</div>
</div>