-content_for :javascript_includes do
  :javascript
    tinymce.init({
      selector: "textarea",
      menubar: false,
      language: "it"
    });
=render '/layouts/feedbacks'
=form_for(@article, :html => { :role => 'form' }) do |f|
  -if @article.errors.any?
    -@article.errors.full_messages.each do |msg|
      %p=msg
  =f.hidden_field(:draft, :value => 'true')
  %p
    =f.label(:title, "Titolo*")
    =f.text_field :title
  %p
    =f.label(:content, "Articolo*")
    =f.text_area :content
  %p
    =submit_tag "Invia"
  %p
    I campi contrassegnati dall'asterisco (*) sono obbligatori.
