=render '/layouts/feedbacks'
=form_for(@article, :html => { :role => 'form' }) do |f|
  -#-@article.errors.full_messages.each do |msg|
  -#  %p=msg
  =f.hidden_field (:draft, :value => 'true')
  %p
    =f.label :title
    =f.text_field :title
  %p
    =f.label :content
    =f.text_field :content
  %p
    =submit_tag 'Invia'
  %p
    I campi contrassegnati dall'asterisco (*) sono obbligatori.    