-content_for :page_title do
  %title
    Le ultime notizie sulle attività dell'associazione
.aside.span-6{ :role => 'complementary' }
  =render '/layouts/follow_us'
.main.span-18.last{ :role => 'main' }
  .area.highlight
    =render :partial => '/shared/stripes', :locals => { :label => 'News' }
  - for article in @articles
    .article
      %ul
        %li
          =link_to 'Edit', edit_article_path(article)
        -#%li
          -#=link_to 'Delete', delete_article_path(article)
      %h3= article.title
      .meta
        Scritto da 
        %span.author= article.author
        il 
        %span.date= article.created_at
      %p= article.content

  .area.highlight
    =render :partial => '/shared/stripes', :locals => { :label => 'Pubblicazione' }
  %h2
    Nuovo articolo
  =render 'form'