-content_for :page_title do
  Pubblicazione articolo
-content_for :page_class do
  news
.aside.span-6{ :role => 'complementary' }
  =render '/layouts/follow_us'
.main.span-18.last{ :role => 'main' }
  .area.highlight
    =render :partial => '/shared/stripes', :locals => { :label => 'Pubblicazione' }
  %h2
    Creazione articolo
  =render 'form'