-content_for :page_title do
  Le ultime notizie sulle attività dell'associazione
-content_for :page_class do
  news
.aside.span-6{ :role => 'complementary' }
  =render '/layouts/follow_us'
.main.span-18.last{ :role => 'main' }
  .area.highlight
    =render :partial => '/shared/stripes', :locals => { :label => 'News' }
  =render '/layouts/feedbacks'
  %h2
    Anteprima articolo
  %div{ :id => "article_#{@article.id}", :class => "article" }
    -#%ul
    -#  %li
    -#    =link_to 'Modifica', edit_article_path(@article)
    -#  %li
    -#    =button_to 'Cancella', @article, :method => 'delete'
    =render partial: 'article', locals: { alone: true }
  =form_for(@article, :html => { :role => 'form' }) do |f|
    =f.hidden_field(:draft, :value => 'false')
    %p
      =submit_tag 'Pubblica'
