-content_for :page_class do
  home
-content_for :javascript_includes do
  -javascript_include_tag "/js/home.js"
.aside.span-6
  .area
    =render :partial => '/shared/stripes', :locals => { :label => 'Agenda' }
  #scrollup{ :role => 'application' }
    .wait
      Attendere il caricamento delle notizie...
.main.span-18.last{ :role => 'main' }
  .main-zone.last
    .area.highlight
      =render :partial => '/shared/stripes', :locals => { :label => 'Main news' }
    %h2.hidden
      MRFX
    <iframe width="710" height="390" src="http://www.youtube.com/embed/Ob0rgrMs6Sw" frameborder="0" allowfullscreen></iframe>  
  .left-zone.span-6
    .area.highlight
      =render :partial => '/shared/stripes', :locals => { :label => 'Carpooling' }
    %a.manifesto{ :href => "http://www.bring-me.it/", :target => "_blank" }
      =image_tag('logo-carpooling.png', title: 'Carpooling MRF11')
      -#%img{ :alt => "Logo di Ripresa Musica", :src => "img/ripresamusica-resize.jpg" }
  .center-zone.span-6
    .area.highlight
      =render :partial => '/shared/stripes', :locals => { :label => 'Iniziative' }
    %a.manifesto{ :href => "http://www.facebook.com/pages/Musicisti-al-Verde/216828475002855", :target => "_blank" }
      -#%img{ :alt => "Logo di musicisti al verde", :src => "img/musicisti-al-verde.jpg" }
      =image_tag('musicisti-al-verde.jpg', alt: 'Logo di musicisti al verde')
  .right-zone.span-6.last
    .area.highlight
      =render :partial => '/shared/stripes', :locals => { :label => 'Attività' }
    %a{ :href => "download/progetto_scuolina_yeka_forest.pdf", :onclick => "_gaq.push(['_trackPageview', '/downloads/scuolina-yeka-forest'])", :target => "_blank" }
      -#%img{ :alt => "Logo di Yeka Forest", :src => "img/YekaForest.jpg", :title => "Miscela Rock Festival for Scuolina di addis" }
      =image_tag('scuolina.jpg', alt: 'Miscela Rock Festival for Scuolina di Addis')
#audio-player
#fb-root
