# Private settings for miscela app
defaults: &defaults
  janrain_api_key: ...
  dropbox_app_key: ...
  dropbox_app_secret: ...
  dropbox_access_token: ...
  dropbox_access_token_secret: ...
  dropbox_user_id: ...

development:
  <<: *defaults
  smtp_user: name@email.com
  smtp_password: password
  mail_from: name@email.com

test:
  <<: *defaults

production:
  <<: *defaults