%p
  Compilando il form e inviando i dati dichiaro di aver letto il <a href="download/BANDO DI PARTECIPAZIONE MRF11.pdf" onclick="_gaq.push(['_trackPageview', '/downloads/bando_mrf11'])" target="_blank">bando di iscrizione</a> e autorizzo l'Associazione Miscela al trattamento dei dati personali. Tali dati non verranno resi pubblici ma verranno mantenuti solamente dagli organizzatori ai fini di archivio e selezione.
-if @subscr.id
  =button_to 'Cancella', @subscr, :method => 'delete', :class => 'show-as-link'
-#
  <script>
    $(function(){
      var form = $('#undo-subscription');
      
      form.submit(function(){
        if (confirm("Vuoi davvero eliminare questa iscrizione?")) {
          return true;
        }
        return false;
      });
    });
  </script>
=render '/layouts/feedbacks'
=form_for(@subscr, :html => { :role => 'form' }) do |f|
  -if @subscr.errors.any?
    -@subscr.errors.full_messages.each do |msg|
      %div=msg
  %p
    =f.label(:band_name, 'Nome della Band/Artista*')
    =f.text_field :band_name
  %p
    =f.label(:band_members, 'Numero di componenti in live*')
    =f.text_field :band_members
  %p
    =f.label(:genre, 'Genere*')
    =f.text_field :genre
  %p
    =f.label(:city, 'Provenienza (città e provincia)*')
    =f.text_field :city
  %p
    Materiale per l'iscrizione
  %p
    Il documento può essere integrato, a discrezione dei partecipanti, con il seguente materiale facoltativo:
    %ul
      %li
        Breve rassegna stampa
      %li
        Concerti svolti negli ultimi sei mesi
  %p
    =f.label(:website, 'Link a sito personale*')
    =f.text_field :website
  %p
    =f.label(:website2, 'Link ad altro sito o social network')
    =f.text_field :website2
  %p
    =f.label(:video_link, 'Link a contenuti video')
    =f.text_field :video_link
  %p
    =f.label(:notes, 'Comunicazioni per lo staff')
    =f.text_area :notes
  %p
    =submit_tag 'Accetta e invia'
  =render '/layouts/feedbacks'
  %p
    I campi contrassegnati dall'asterisco (*) sono obbligatori.
  %p
    Problemi con l'iscrizione online? <a href="mailto:miscelarockfestival@libero.it">contattaci</a>
