-content_for :page_title do
  Iscrizioni al MRF
-content_for :page_class do
  subscriptions
.aside.span-6{ :role => 'complementary' }
  =render '/layouts/admin_menu'
.main.span-18.last{ :role => 'main' }
  .area.highlight
    =render :partial => '/shared/stripes', :locals => { :label => 'Iscrizioni' }
  %h2
    Iscrizioni al Miscela Rock Festival
  %table.subscriptions
    %thead
      %tr
        %th
          Nome
        %th
          Membri
        %th
          Genere
        %th
          Città
        %th
          Materiale
        %th
          Link
        %th
          Referenti
    %tbody
      -for subscription in @subscrs
        %tr
          %td
            =subscription.band_name
          %td
            =subscription.band_members_number
          %td
            =subscription.genre
          %td
            =subscription.city
          %td
            =link_to 'Canzone 1', subscription.song1.url(download: true)
            %br
            =link_to 'Canzone 2', subscription.song2.url(download: true)
            %br
            =link_to 'Foto', subscription.photo.url(download: true)
            %br
            =link_to 'Biografia', subscription.attachment.url(download: true)
          %td
            =link_to 'Sito', subscription.website, target: '_blank'
            -if !subscription.website2.empty?
              %br
              =link_to('Altro sito', subscription.website2, target: '_blank')
            -if !subscription.video_link.empty?
              %br
              =link_to('Video', subscription.video_link, target: '_blank') 
          %td
            -subscription.band_members.each do |member|
              %strong 
                =member.name + ' ' + member.surname
              %br
              %a{ href: "mailto:#{member.email}" } 
                =member.email
              %br
              %a{ href: "tel:#{member.phone}" } 
                =member.phone
              %br
