-content_for :page_title do
  Iscriviti al MRF
-content_for :page_class do
  subscription
.aside.span-6{ :role => 'complementary' }
  =render 'subscriptions_menu'
.main.span-18.last{ :role => 'main' }
  .area.highlight
    =render :partial => '/shared/stripes', :locals => { :label => 'Iscrizione' }
  %h2
    Iscriviti
  =render 'form'