<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Benvenuto al <%= @event_name %>, <%= @member.name %></h1>
    <p>
      Per tornare alla tua iscrizione basta seguire il link: <%= @url %> ed eseguire l'accesso con lo stesso account usato per iscriversi.
    </p>
    <p>Grazie per averci scelto, a presto!</p>
  </body>
</html>