-#%div=flash.inspect
-#%div=@article.inspect
-#%div=debug @errors
-classes = []
-feedbacks = []
-flash.each do |key, val|
  -if key == :alert
    -classes += [ "error" ]
  -elsif key == :notice
    -classes += [ "success" ]
  -feedbacks += [ val ]
-if !(feedbacks.empty?)
  #message{ :class => classes.join(" ") }
    =feedbacks.join("<br/>").html_safe
