.area
  =render :partial => '/shared/stripes', :locals => { :label => 'Seguici' }
%h3
  Miscela è anche su
%ul.social-networks
  %li.myspace
    %a{ :rel => 'friend', :href => 'http://www.myspace.com/miscelarockfestival' }
      Myspace
  %li.facebook
    %a{ :rel => 'friend', :href => 'http://www.facebook.com/pages/Romano-Canavese-Torino/MISCELA-ROCK-FESTIVAL/85135214846?ref=ts' }
      Facebook
  %li.twitter
    %a{ :rel => 'friend', :href => 'http://www.twitter.com/miscelarock' }
      Twitter