.footer.span-24.last{ :role => 'contentinfo' }
  %address.vcard
    %abbr{ :title => "Associazione Culturale" }
      Associazione
    %a.fn.org.url{ :href => "http://www.associazionemiscela.it" } Miscela
    %span.adr
      %span.street-address
        Piazza Ruggia c/o Gianni Rodari
      %span.locality 
        Romano Canavese
      (
      %abbr.region{ :title => "Torino" }
        TO
      )
      %span.postal-code
        10090
      %span.country-name 
        Italia
    PI 10046370010
  %ul.info
    %li
      %a{ :href => "http://creativecommons.org/licenses/by-nc/2.5/it/", :rel => "license" }
        Copyright
    %li
      %a{ :href => "/contacts.htm" } 
        Contatti
    %li
      %a{ :href => "/credits.htm" }
        Ringraziamenti