.header.span-24.last
  .aside.span-6{ :role => 'banner' }
    %h1
      %a{ :href => home_index_path, :title => "Associazione Miscela" }
        %img{ :alt => "Logo Miscela", :src => "assets/MiscelaLogo.png" }
  .span-18.last
    .span-6
      .fb-like{ :"data-href" => "http://www.associazionemiscela.it", :"data-send" => "true", :"data-layout" => "button_count", :"data-width" => "250", :"data-show-faces" => "true" }
      .feed
        %a.icon.feed{ :rel => "nofollow", :href => "Feed.aspx", :title => "Miscela feed" }
          Atom Feed
    .span-12.last
      #toolbar.reserved
        %a{ :href => "#bella", :rel => "nofollow" }
          Ferma la musica
        -if signed_in?
          %a{ :href => new_article_path, :rel => "nofollow" } Area riservata
          =link_to "Log out", signout_path, method: "delete"
        -else
          %a{ :href => signin_path, :rel => "nofollow" } Area riservata
    %ul.nav{ :role => 'navigation' }
      %li
        %a{ :href => articles_path }
          News
      %li
        %a{ :href => "where.htm" }
          Miscela
      %li
        %a{ :href => "partners.htm" }
          Partner
  = debug(signed_in?)
