.header.span-24.last
  .aside.span-6
    %h1
      %a{ :href => "http://www.associazionemiscela.it", :title => "Associazione Miscela" }
      %img{ :alt => "Logo Miscela", :src => "assets/MiscelaLogo.png" }
  .span-18.last
    .span-6
      .fb-like{ :"data-href" => "http://www.associazionemiscela.it", :"data-send" => "true", :"data-layout" => "button_count", :"data-width" => "250", :"data-show-faces" => "true" }
      .feed
        %a.icon.feed{ :rel => "nofollow", :href => "Feed.aspx", :title => "Miscela feed" }
          Atom Feed
    .span-12.last
      #toolbar.reserved
        %a{ :href => "#bella", :rel => "nofollow" }
          Ferma la musica
        %a{ :href => "Admin/Admin.aspx", :rel => "nofollow" }
          Area riservata
    %ul.nav
      %li
        %a{ :href => "news.aspx" }
          News
      %li
        %a{ :href => "where.htm" }
          Miscela
      %li
        %a{ :href => "partners.htm" }
          Partner
